/* * {
  margin: 0;
  padding: 0;

}

header {
  height: 10vh;
  background-color: #A61723;
}

header > nav  {
  text-align: center;
  height: 10vh;
  margin: 50px;
}

header > nav > a{
  text-decoration: none;
  color: #400101;
  width: 10vh;
  height: 10vh;

}
header > nav > img{
  width: 100px;

}

img{
  height: 20vh;
}

main  {


}


footer{
  background-color: #D97D48;
  height: 25vh;

} */

@charsert UTF-8{

}
*{
  margin: 0;
  padding: 0;
}
header{
  height: 15vh;
  background-color: #A61723;
}

header > nav  {
  text-align: center;
  
}

header > img{
  width: 100px;
}
header > nav > a{
  text-decoration: none;
  color: white;
  margin: 20px;
  

}

main{
  text-align: left;
  color: white;
  height: 80vh;
  background-color:  #A61723;

}

main > img{
  margin: 20px;
  width: 60 vw;
  
  
}

article{
  height: 30vh;
  width: 30vw;
  color: #A61723;
}

footer{
  height: 30vh;
  background-color: #A61723;
  color: white;
  text-align: center;
  font-size: 2em;
}
