* {
    font-size: 20px;
}
h1{
 font-size: 2em;
}

h2{
 font-size: 25px;
}

p{
  font-size: 2em;
}

p{
    font-size: 2em;
}

ul{ font-size: 20px;
    
}

li{
   list-style: none; 
  font-size: 2.5rem;
}

li{
    list-style: none;
    font-size: 2.5rem;
}



