section{
    border: solid  1px black;
    width: 100% ;
    text-align: center
}

p{
    width: 25vw;
    margin: 10px;
    
    
}




.primeiro {
    float: left;

    


}

.segundo {
    float: right;
}