@charset "utf-8";
*{
    padding: 0;
    margin: 0;
}

#container {
    background-color: bisque;
    display: grid;
    width: 800px;
    height: 500px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    /* column-gap: 15px; */
    /* row-gap: 10px; */
    gap: 35px, 35px;
    grid-template-areas:"caixa1 caixa1 caixa1"
    "caixa2 caixa2 caixa2"
    "caixa3 caixa3 caixa3" ;
    /* place-items: start center; */
    align-items: start;
    justify-items: center;
}

.caixa1 {
    width: 20px;
    height: 15px;
    background-color: yellowgreen;
    grid-area: caixa1;

}
.caixa2 {
background-color: blue;
grid-area: caixa2;
}
.caixa3 {
background-color:darkorange ;
grid-area: caixa3;
}

